#background{
  background: rgba(3, 0, 12, 0.7) url('imagens/fundo_4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
}

iframe {
  margin-top: 1%;
  margin-left: 15%;
  border-radius: 15px;
  opacity: 0.7;

  -webkit-box-shadow: 0px 0px 16px 5px #9D9D9D; 
  box-shadow: 0px 0px 16px 5px #9D9D9D;
}

.button {
  display: flex;
  justify-content: center;
}

.button a{
  background-color: #9D9D9D;
  padding: 0.5%;
  font-weight: 100;
  font-size: 20px;
  border-radius: 15%;
}

.button a:hover{
  background-color: #444444;
}